<!-- app/views/articles/edit.html.erb -->

<h1>Edit Article</h1>
<%= form_with(model: @article) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to "Show", article_path(@article) %> |
<%= link_to "Back", articles_path %>
